@import "variables";

* {
  margin: 0;
}

html, body {
  height: 100%;
}

@mixin landscape-standard-padding($padding: $landscape-content-padding ) {
  @media all and (orientation: landscape) {
    padding: $padding;
  }
}

body {
  @media all and (orientation: landscape) {
    font: $landscape-font-size $font-stack;
  }

  font: $content-font-size $font-stack;
  background-color: $body-color;
  color: $main-font-color;
}

h6 {
  font-size: $smaller-text-size;
  font-weight: normal;
  color: $grey;
  padding: 0;
}

p, h6 {
  padding: 0.5vw 0;
}

button {
  background-color: transparent;
}

button, input[type=text], input[type=tel], input[type=number]{
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  outline: none;
  border: none;
  font: inherit;
}

input[type=text], input[type=tel], input[type=number]{
  @media all and (orientation: landscape) {
    height: $landscape-input-height;
  }
  
  margin: $input-margin auto;
  height: $standard-input-height;
  padding: 0 7px;
  box-sizing: border-box;
  color: #4d4d4d;
}

.hidden {
  display: none;
}

#header {
  height: 10%;
  border-bottom: 1px solid $main-app-theme-color;

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 6vh;
    padding: 2vh;
  }
}

#app-container {
  @media all and (orientation: landscape) {
    width: 80%;
    margin: 0 auto;
  }

  .screen-container {
    @include landscape-standard-padding();
    margin-bottom: 8vh;
    padding: $standard-content-padding;
    box-sizing: border-box;

    .help-text {
      color: $help-text-color;
      margin-bottom: 3vw;
    }

    .question-container {
      .progress {
        font-size: 0.8em;
        color: $grey;
      }

      .question-text {
        font-weight: 600;
      }

      .question-input {
        width: 100%;
        border-radius: 3px;
        background-color: $light-grey;

        &.radio{
          width:auto;
        }
      }

      .radio-inputs {
        border-top: $content-border;
        margin: $standard-content-padding 0;

        label {
          @include landscape-standard-padding();
          display: block;
          padding: 2vw 0vw;
          border-bottom: $content-border;

          .radio-checkbox {
            display: inline-block;
            background: none;
            height:30px;
            width:30px;
            padding: 0px;
            vertical-align: -0.5em;
            border-radius: 1vw;
            border: $content-border;
            margin-right: 2*$standard-content-padding;
          }

          input:checked + .radio-checkbox {
            background: url(../images/tick_icon.svg);
            background-repeat: no-repeat;
            background-position:center center;
            background-size:30px 30px;
          }
        }
      }
    }

    .field-summary-container {
      border-bottom: $content-border;
      margin: 0 0 2vw 0;
      box-sizing: border-box;

      .field-answer{
        margin: $standard-content-padding 0;
        width:85%;
        padding: 0;
        height: auto;

        &[disabled] {
          color: $main-font-color;
        }
      }

      .edit {
        color: $secondary-button-text;
        width:15%;
        padding: 0;
        font-size: $smaller-text-size;
      }
    }

    &#confirmation {
      p {
        @include landscape-standard-padding(2*$landscape-content-padding);
        padding: $standard-content-padding 2*$standard-content-padding;
        font-size: smaller;
      }

      .confirmation-icon {
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: 100px;
        @include landscape-standard-padding(3*$landscape-content-padding);
        padding: 3*$standard-content-padding 0;
      }

      .button-container {
        margin-top: $standard-content-padding;
      }
    }

    .button-container {
      width: 100%;
      left: 0;
      box-sizing: border-box;
      background-color: white;

      &.summary {
        @include landscape-standard-padding();
        background-color: ghostwhite;
        border-top: $content-border;
        box-shadow: 0 0 8px 0 $light-grey;
        bottom: 0;
        position: fixed;
        padding: $standard-content-padding $standard-content-padding 0 $standard-content-padding;
      }

      .navigation-button{
        @include landscape-standard-padding();
        width: 100%;
        padding: $standard-content-padding;
        margin-bottom: $standard-content-padding;
        border-radius: 3px;

        &.primary-button{
          color: white;
          background-color: $button-color;
          border-bottom-width: 4px;
          border-bottom-style: solid;
          border-bottom-color: $button-shadow-color;

          &[disabled] {
            background-color: $button-disabled-color;
            border-bottom-color: $button-disabled-shadow;
          }

          &:active {
            border-bottom-width: 0px;
          }
        }

        &.secondary-button {
          color: $secondary-button-text;
          border: $secondary-button-border;
          background-color: $body-color;
        }
      }
    }
  }
}

@media all and (orientation: landscape) {
  @keyframes animateSlider {
    0% {
      right: 55vw;
    }
    100% {
      right: 0vw;
    }
  }
}

@media all and (orientation: portrait) {
  @keyframes animateSlider {
    0% {
      right: 70vw;
    }
    100% {
      right: 0vw;
    }
  }
}

.animate {
  animation: animateSlider 60s linear;
}

.recording-container {
  div {
    display: inline-block;
  }

  #mic {
    @media all and (orientation: landscape) {
      width: 8vw;
    }
    width: 2 * 5vw;
  }

  #stop-btn {
    @media all and (orientation: landscape) {
      margin-bottom: 20px;
    }
    margin-bottom: 7px;
  }

  #play-btn {
    @media all and (orientation: landscape) {
      width: 6%;
      padding-bottom: 1em;
    }
    width: 7%;
    padding-bottom: 0.4em;
  }

  #animated-slider-container {
    padding: 0vw 2.5vw;
  }

  #slider-bar, #slider-status-fill {
    @media all and (orientation: landscape) {
      width: 55vw;
    }
    width: 70vw;
    height: 3px;
  }

  #slider-bar {
    background-color: $light-grey;
    position: relative;
    bottom: 5vw;
    overflow: hidden;

    &.finished {
      background-color: $complementary-lighter;
    }
  }

  #slider-status-fill {
    position: absolute;
  }

  #slider-status-fill, #slider-status-mark {
    @media all and (orientation: landscape) {
      right: 55vw;
    }
    right: 70vw;
    background-color: $help-text-color;
  }

  #slider-status-mark {
    position: relative;
    height: 11vw;
    width: 2px;
  }

  #timer {
    @media all and (orientation: landscape) {
      font-size: 6vw;
    }
    font-size: 7vw;
    position: relative;
    top: -3vw;
  }
}

#bin-btn {
  width: 6%;
  float: right;
  padding-top: 0.5em;
  padding-right: 1em;
}

.fill-green g .color {
  fill: $complementary-color;
}
