$font-stack: Open Sans, Arial, Helvetica, sans-serif;

$highlight-orange: #f3a536;
$matcha-green: #ACD2BC;
$light-grey: #D8D8D8;
$light-blue: #4A90E2;
$dark-grey: #C2C2C2;
$highlight-background: #FDE7C4;

$body-color: white;
$banner-color: $highlight-orange;
$main-font-color: #4d4d4d;
$incomplete-progress-status: #c2c2c2;
$container-background: white;
$header-text-color: white;
$highlight-text: $highlight-orange;
$border-color: $highlight-orange;
$button-color: $matcha-green;

$header-font-size: 100px;
$content-font-size: 5vw;

$input-height: $content-font-size;
$button-width: 20vw;
$input-submit-color: $light-blue;


$question-padding:3vw;


/* CSS Reset*/

* {
  margin: 0;
}


body {
  font: $content-font-size $font-stack;
  background-color: $body-color;
  color: $main-font-color;
  padding:0px;
}

h1 {
  color: $header-text-color;
  background-color: $banner-color;
  text-align: center;
  width:100%;
}

p {
  padding: 1vw;
}

/* Input Styling*/
button {
  padding: 5px;
  background-color: rgba(1, 1, 1, 0);
  color:$light-blue;
  font-weight:600;
}

button, input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel], input[type=number] {
  -webkit-appearance: none; -moz-appearance: none;
  display: inline-block;
  margin: 0;
  font-size: $content-font-size;
  border: none;
  font: $content-font-size $font-stack;
}


.input-container {
  background-color: white;
  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
  padding: 2vw 5vw;

  .answer {
    width: 90vw - $button-width;
    border-radius: 10px;
    background-color: $light-grey;
    height: $input-height;
    // margin: 0 15px;
    padding: 10px;
  }

  .send {
    width:$button-width;
  }
}

#dialogue-container {
  width: 100vw;
  background-color: $container-background;
  margin: 0 auto;
}

.question {
  padding: $question-padding;
  border-top: 1px solid $border-color;
}

.help-text {
  color: $highlight-text;
}

// .response-container {
// color: $highlight-text;
//
//   .response-text {
//     color: $main-font-color;
//   }
// }

.hidden {
  display: none;
}

.edit-highlight .response-text {
  background-color: $matcha-green;
}

.edit-highlight {
  background-color: $highlight-background;
}

@keyframes animateSlider {
  0% {
    right: 70vw;
  }
  100% {
    right: 0vw;
  }
}

.animate {
  animation: animateSlider 60s linear;
}

.recording-container {
  div {
    display:inline-block;
  }

  #mic-gif{
    width: 2 * 5vw;
    display:inline-block;
  }

  #animated-slider-container {
    padding: 0vw 2.5vw;
  }

  #slider-bar, #slider-status-fill {
    width: 70vw;
    height: 3px;
  }

  #slider-bar {
    background-color: $light-grey;
    position: relative;
    bottom: 5vw;
    overflow: hidden;

    &.finished {
      background-color: $matcha-green;
    }
  }

  #slider-status-fill {
    position: absolute;
  }

  #slider-status-fill, #slider-status-mark {
    right:70vw;
    background-color: $highlight-text;
  }

  #slider-status-mark {
    position: relative;
    height:11vw;
    width: 2px;
  }

  #timer {
    font-size: 7vw;
    position: relative;
    top: -3vw;
  }
}

#form-button-container {
  text-align: center;
  padding:$question-padding;

  #submit-form-button {
    padding: $question-padding 0;
    background-color: $button-color;
    width:100%;
    border-radius: 2vw;
    color: $header-text-color;
  }
}
