doctype html
html(lang="en")
  head
    link(href="../stylesheets/style.css", rel="stylesheet", type="text/css")
    title Hello World
  body
    h1 Find Me
    #container.col
      p.
        Hello Kakuma! Again.
